.products-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  justify-content: center;

  &__item {
    width: 25%;
    border: 1px solid;
    padding: 10px;
    text-align: center;

    img {
      width: 100%;
    }
  }
}